<!doctype html>
<html class="no-js" lang="<%= site.locale %>">
  <head>
    <meta charset="utf-8" />
    <%= seo %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="<%= webpack_path "standalone.css" %>" />
    <script type="application/javascript">
      document.querySelector('html').classList.remove('no-js');
    </script>
  </head>
  <body>
    <%#
      Wrap form components in a form contet.
      A form context affects how screen readers behave,
      we set novalidate as we do not rely on html validation
      for our forms so we don't want this behaviour.
    %>
    <% if resource.data[:form].present? %><form action="" novalidate><% end %>
    <%= yield %>
    <% if resource.data[:form].present? %></form><% end %>
    <script src="<%= webpack_path "standalone.js" %>" defer></script>
  </body>
</html>
