<!doctype html>
<html lang="<%= site.locale %>" class="no-js">
  <head>
    <meta charset="utf-8" />
    <%= seo %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="format-detection" content="telephone=no">
    <link href="<%= webpack_path("fonts/open-sans-v26-latin-700.woff2") %>" rel="preload" as="font" type="font/woff2" crossorigin="true" />
    <link href="<%= webpack_path("fonts/open-sans-v26-latin-regular.woff2") %>" rel="preload" as="font" type="font/woff2" crossorigin="true" />
    <link rel="stylesheet" href="<%= webpack_path "theme.css" %>" />
    <style><%= Rouge::Theme.find('cads-theme').render(scope: '.highlight') %></style>
    <script type="application/javascript">
      document.querySelector('html').classList.remove('no-js');
    </script>
  </head>
  <body class="site page-<%= resource.data.slug %>">
    <%= render Shared::AppHeader.new %>
    <%= render CitizensAdviceComponents::Navigation.new(
      links: [
        { url: "/guides", title: "Guides" },
        { url: "/foundations", title: "Foundations" },
        { url: "/components", title: "Components" },
        { url: "/accessibility", title: "Accessibility" }
      ]
    ) %>
    <%= render Shared::AppBreadcrumbs.new(resource) %>
    <%= render "notice_banner" %>
    <div class="site-content" id="cads-main-content">
      <%= yield %>
    </div>
    <%= render CitizensAdviceComponents::Footer.new %>
    <script src="<%= webpack_path "theme.js" %>" defer></script>
  </body>
</html>
