<!doctype html>
<html lang="<%= site.locale %>" class="no-js">
  <head>
    <meta charset="utf-8" />
    <%= seo %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <script type="application/javascript">
      document.querySelector('html').classList.remove('no-js');
    </script>
    <link rel="stylesheet" href="<%= webpack_path "css" %>" />
    <style><%= Rouge::Theme.find('cads-theme').render(scope: '.highlight') %></style>
  </head>
  <body>
    <%= render CitizensAdviceComponents::Header.new do |c| %>
      <%- c.logo(title: site.metadata.title) %>
    <% end %>
    <%= render CitizensAdviceComponents::Navigation.new(
      links: [
        { url: "/getting-started", title: "Getting started" },
        { url: "/foundations", title: "Foundations" },
        { url: "/components", title: "Components" }
      ]
    ) %>
    <%= yield %>
    <%= render CitizensAdviceComponents::Footer.new %>
    <script src="<%= webpack_path "js" %>" defer></script>
  </body>
</html>
