---
layout: default
---

<main id="cads-main-content" class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-md-8">
      <div class="cads-page-content">
        <h1 class="cads-page-title"><%= resource.data.title %></h1>

        <% if resource.data.show_on_this_page.present? %>
          <%= render(Shared::OnThisPage.new(content)) %>
        <% end %>

        <div class="cads-prose">
          <%= content %>
        </div>
      </div>
      <%= render "feedback_prompt" %>
    </div>
    <div class="cads-grid-col-md-4 sidebar">
      <%=
        render(CitizensAdviceComponents::SectionLinks.new(
          title: "In this section",
          section_title: resource.collection.metadata.name,
          section_title_url: "/guides"
        )) do |c|
          c.with_section_links(resource.collection.resources.map do |resource|
            { url: resource.relative_url, title: resource.data.title }
          end)
        end
      %>
    </div>
  </div>
</main>
