---
layout: default
---

<%= render Shared::PageLayout.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title"><%= resource.data.title %></h1>

    <% if resource.data.show_on_this_page.present? %>
      <%= render(Shared::OnThisPage.new(content)) %>
    <% end %>

    <div class="cads-prose-direct-descendants">
      <%= content %>
    </div>
    <%= render "feedback_prompt" %>
  <% end %>
  <% c.with_sidebar do %>
    <%= render CitizensAdviceComponents::SectionLinks.new(
      title: "In this section",
      section_title: resource.collection.metadata.name,
      section_title_url: resource.data.section_title_url
    ) do |c|
      c.with_section_links(resource.collection.resources.map do |resource|
        { url: resource.relative_url, title: resource.data.title }
      end)
    end %>
  <% end %>
<% end %>
