<h1 class="cads-page-title"><%= t(".title") %></h1>

<div class="cads-prose">
  <p><%= t(".subtitle") %></p>
</div>

<% form.object.answers_by_step.each do |step, answers| %>
  <% unless step.key == "review_answers" %>
    <hr>

    <div class="cads-grid-row">
      <div class="cads-grid-col-9">
        <h2><%= t(".#{step.key}.heading") %></h2>
        
        <% answers.each do |answer| %>
          <% unless answer.last.empty? %>
            <h3><%= t(".#{step.key}.#{answer.first}") %></h3>
            <p><%= answer.last %></p>
          <% end %>
        <% end %>
      </div>

      <div class="cads-grid-col-3">
        <%= render CitizensAdviceComponents::Button.new(variant: :tertiary,
                                                        type: :submit,
                                                        attributes: { formaction: wizard.step_path(step.key),
                                                                      formmethod: "get" }) do %>
          <%= t("navigation.change") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
