<div class="cads-grid-container">
  <div class="cads-grid-row">
    <div class="cads-grid-col-md-9">
      <%= render CitizensAdviceComponents::NoticeBanner.new(label: "Notice banner title") do %>
        <p>
          If you’re a Thomas Cook customer and you’re stuck abroad
          or want to get your money back, get help from the Civil Aviation Authority.
        </p>
      <% end %>
    </div>
  </div>
</div>
<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title">Content sample page</h1>
    <div class="cads-prose">

      <p>Every page should have some lorem ipsum. So here it is. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a urna nisl. Aenean euismod purus a magna vulputate, eget volutpat neque volutpat. Donec dapibus scelerisque diam eu scelerisque. Vestibulum laoreet magna sagittis felis pellentesque semper. Nullam porta, arcu rhoncus euismod porttitor, risus augue bibendum ipsum, eget tincidunt mi lectus eget eros. Donec nisl ipsum, facilisis vitae tortor maximus, venenatis mattis purus. Quisque fringilla gravida arcu, ut bibendum nibh malesuada at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

      <%= render CitizensAdviceComponents::Callout.new(type: :standard) do %>
        <h3>Standard callout</h3>
        <p>Some example text</p>

        <%= render(CitizensAdviceComponents::Callout.new(type: :adviser)) do %>
          <h4>Adviser callout</h4>
          <p>Example nested adviser callout</p>
        <% end %>
      <% end %>
      <h2>Title after callout</h2>
      <p>Here is an important callout.</p>
      <%= render CitizensAdviceComponents::Callout.new(type: :important) do %>
        <h3>This is the callout title</h3>
        <p>The important callout should be used for any important snippet of text that has serious and/or legal implications if the client does not follow the advice.</p>
      <% end %>
      <p>Here is an example callout.</p>
      <%= render CitizensAdviceComponents::Callout.new(type: :example) do %>
        <h3>Example title</h3>
        <p>This is the body text of the example callout.</p>
      <% end %>

      <p>Curabitur aliquam lorem et lorem ullamcorper aliquet. Aliquam vitae interdum metus. Nulla ut laoreet ante. Quisque commodo nisl a fringilla elementum. Ut accumsan nunc id ex ullamcorper, sed tempor augue condimentum. Morbi volutpat et ante ut rutrum.</p>

      <h2>Title after paragraph</h2>
      <img src="/placeholder-image.jpg" alt="Placeholder image">
      <p>Etiam laoreet erat sit amet porttitor luctus. Sed vitae enim aliquet, aliquam velit sit amet, placerat diam. Aenean malesuada euismod arcu, vel imperdiet dolor facilisis vitae. Fusce ac lacinia metus, ut interdum nibh. Nunc a lorem dolor. In sodales urna eget libero commodo luctus. Suspendisse commodo est sit amet diam tempus, sit amet vehicula ex sodales. Duis feugiat scelerisque imperdiet. Sed vel lorem id risus porta porta id in libero. In sagittis at magna a semper. Donec aliquet porta vehicula. Integer sit amet quam aliquet, bibendum libero non, aliquet nisi. Mauris ante erat, dictum a urna ut, elementum varius ex. Praesent blandit quis ante id fermentum.</p>

      <%= render CitizensAdviceComponents::TargetedContent.new(
        title: "If you are a citizen of a country outside the EU, EEA or Switzerland",
        id: "targeted-content-123"
      ) do %>
        <p>You should apply to the EU Settlement Scheme if both:</p>
        <ul>
          <li>you’re in the UK by 31 December 2020</li>
          <li>you have family in the UK from the EU, EEA or Switzerland</li>
          <p>You need to apply to the scheme even if you have a permanent residence card as it will not be valid after 31 December 2020.</p>
        </ul>
      <% end %>
      <h2>Title after targeted content</h2>
      <p>A bit more content.</p>

      <%= render(CitizensAdviceComponents::ContactDetails.new) do %>
        <p><b>Example organisation</b></p>
        <p>Telephone: 0300 555 5555</p>
        <p>Monday to Friday, 8am to 5pm</p>
        <p>Saturday, 8am to 4pm</p>
        <p><%= link_to "Link to the website", "https://example.com" %></p>
        <p><%= mail_to "exampleorganisationemailaddress@citizensadvice.org.uk" %></p>
      <% end %>

      <ul>
        <li>etiam laoreet erat sit amet porttitor luctus.</li>
        <li>lorem ullamcorper aliquet</li>
        <li><p>Lorem ipsum in a p tag</p></li>
        <li>iquam vitae interdum metus</li>
      </ul>

      <ol>
        <li>etiam laoreet erat sit amet porttitor luctus.</li>
        <li>lorem ullamcorper aliquet</li>
        <li><p>Lorem ipsum in a p tag</p></li>
        <li>iquam vitae interdum metus</li>
      </ol>

      <%= render CitizensAdviceComponents::Table.new(
        caption: "Post box collection times (Monday to Friday)",
        header: [
          "Your location",
          "Post box collection times"
        ],
        rows: [[
          "City or town",
          "9am to 6.30pm"
        ], [
          "Areas with lots of businesses - known as commercial",
          "9am to 7.30pm"
        ], [
          "Very rural areas - for example, where there aren't many people",
          "9am to 4pm"
        ], [
          "Rest of the UK",
          "9am to 5.30pm"
        ]]
      ) %>
    </div>
    <%= render CitizensAdviceComponents::PageReview.new(page_review_date: Date.new(2021, 1, 12)) %>
  <% end %>
<% end  %>
