-# haml-lint:disable ViewLength
.cads-grid-container
  .cads-grid-row
    .cads-grid-col-8
      %table.cads-table
        %thead
          %tr
            %th{ scope: "col" }
              Component class
            %th{ scope: "col" }
              Small
            %th{ scope: "col" }
              Large
        %tbody
          %tr
            %td
              ArrowDown
            %td
              = render CitizensAdviceComponents::Icons::ArrowDown.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::ArrowDown.new(size: :large)
          %tr
            %td
              ArrowLeft
            %td
              = render CitizensAdviceComponents::Icons::ArrowLeft.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::ArrowLeft.new(size: :large)
          %tr
            %td
              ArrowRight
            %td
              = render CitizensAdviceComponents::Icons::ArrowRight.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::ArrowRight.new(size: :large)
          %tr
            %td
              ArrowUp
            %td
              = render CitizensAdviceComponents::Icons::ArrowUp.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::ArrowUp.new(size: :large)
          %tr
            %td
              Close
            %td
              = render CitizensAdviceComponents::Icons::Close.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Close.new(size: :large)
          %tr
            %td
              Email
            %td
              = render CitizensAdviceComponents::Icons::Email.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Email.new(size: :large)
          %tr
            %td
              Error
            %td
              = render CitizensAdviceComponents::Icons::Error.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Error.new(size: :large)
          %tr
            %td
              Minus
            %td
              = render CitizensAdviceComponents::Icons::Minus.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Minus.new(size: :large)
          %tr
            %td
              Mute
            %td
              = render CitizensAdviceComponents::Icons::Mute.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Mute.new(size: :large)
          %tr
            %td
              Plus
            %td
              = render CitizensAdviceComponents::Icons::Plus.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Plus.new(size: :large)
          %tr
            %td
              Print
            %td
              = render CitizensAdviceComponents::Icons::Print.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Print.new(size: :large)
          %tr
            %td
              Reference
            %td
              = render CitizensAdviceComponents::Icons::Reference.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Reference.new(size: :large)
          %tr
            %td
              Search
            %td
              = render CitizensAdviceComponents::Icons::Search.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Search.new(size: :large)
          %tr
            %td
              Tick
            %td
              = render CitizensAdviceComponents::Icons::Tick.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Tick.new(size: :large)
          %tr
            %td
              Trash
            %td
              = render CitizensAdviceComponents::Icons::Trash.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Trash.new(size: :large)
          %tr
            %td
              Undo
            %td
              = render CitizensAdviceComponents::Icons::Undo.new(size: :small)
            %td
              = render CitizensAdviceComponents::Icons::Undo.new(size: :large)
-# haml-lint:enable ViewLength
