<%= render FormAppHeaderComponent.new %>
<%= render CitizensAdviceComponents::Breadcrumbs.new(
  links: [{ url: root_path, title: "Home" }, { title: "Form" }]
) %>
<%= render PageLayoutComponent.new do |c| %>
  <% c.with_main do %>
    <%= form_with model: @form, url: example_form_create_path, method: :post do |f| %>
      <%= f.cads_error_summary %>

      <h1 class="cads-page-title">Consumer Query</h1>

      <div class="cads-prose">
        <p>From 1 April 2019 we are only able to provide general consumer advice to residents of England and Wales. If you are resident in Scotland and have a general consumer enquiry please contact Advice Direct Scotland / 0808 164 6000</p>
      </div>

      <%= f.cads_text_field(
        :first_name,
        label: "First name",
        required: true,
        width: :sixteen_chars
      ) %>

      <%= f.cads_text_field(
        :last_name,
        label: "Last name",
        required: true,
        width: :sixteen_chars
      ) %>

      <%= f.cads_text_area(
        :your_enquiry,
        label: "Your complaint or enquiry",
        hint: "Please provide details of your complaint or enquiry.",
        required: true,
      ) %>

      <%= f.cads_text_field(
        :total_amount,
        label: "What was the total amount paid for the goods or services?",
        hint: "Enter a value in pounds and pence only e.g. £112.00",
        required: true,
        width: :four_chars
      ) %>

      <%= f.cads_date_field(
        :date_of_purchase,
        label: "When did you purchase the goods or services?",
        required: true
      ) %>

      <%= f.cads_collection_radio_buttons(
        :contacted_trader,
        label: "Have you contacted the trader about this complaint?",
        collection: [["Yes", "yes"], ["No", "no"]],
        text_method: :first,
        value_method: :last,
        required: true
      ) %>

      <%= f.cads_text_area(
        :trader_response,
        label: "Outline the trader's response to the complaint, if any",
        required: false,
      ) %>

      <%= f.cads_button "Submit complaint", icon_right: :arrow_right %>
    <% end %>
  <% end %>
<% end  %>
<%= render AppFooterComponent.new %>
