<%= render FormAppHeaderComponent.new %>
<%= render CitizensAdviceComponents::Breadcrumbs.new(
  links: [{ url: root_path, title: "Home" }, { title: "Form" }]
) %>
<%= render PageLayoutComponent.new do |c| %>
  <% c.with_main do %>
    <%= form_with model: @form, url: example_form_create_path, method: :post, novalidate: true do |f| %>
      <%= f.cads_error_summary %>

      <h1 class="cads-page-title">Example form</h1>

      <%= f.cads_text_field(:first_name, width: :sixteen_chars, required: true) %>

      <%= f.cads_text_field(:last_name, width: :sixteen_chars, required: true) %>

      <%= f.cads_text_area(
        :your_enquiry,
        hint: "Please provide details of your complaint or enquiry.",
        required: true
      ) %>

      <%= f.cads_text_field(
        :total_amount,
        hint: "Enter a value in pounds and pence only e.g. £112.00",
        width: :four_chars,
        required: true
      ) %>

      <%= f.cads_date_field :date_of_purchase, required: true %>

      <%= f.cads_collection_radio_buttons(
        :contacted_trader,
        collection: [["Yes", "yes"], ["No", "no"]],
        text_method: :first,
        value_method: :last,
        required: true
      )%>

      <%= f.cads_text_area :trader_response %>

      <%= f.cads_button "Submit complaint", icon_right: :arrow_right %>
    <% end %>
  <% end %>
<% end  %>
<%= render AppFooterComponent.new %>
