<%= render FormAppHeaderComponent.new %>
<%= render CitizensAdviceComponents::Breadcrumbs.new(
  links: [{ url: root_path, title: "Home" }, { title: "Form" }]
) %>
<%= render PageLayoutComponent.new do |c| %>
  <% c.with_main do %>
    <%= render CitizensAdviceComponents::ErrorSummary.new do |c| %>
      <% c.with_errors(@form.formatted_errors) %>
    <% end %>

    <h1 class="cads-page-title">Consumer Query</h1>

    <div class="cads-prose">
      <p>From 1 April 2019 we are only able to provide general consumer advice to residents of England and Wales. If you are resident in Scotland and have a general consumer enquiry please contact Advice Direct Scotland / 0808 164 6000</p>
    </div>

    <%= form_tag(example_form_create_path, novalidate: true) do %>
      <%= render CitizensAdviceComponents::TextInput.new(
        type: :text,
        name: :first_name,
        label: "First name",
        width: :sixteen_chars
      ) %>

      <%= render CitizensAdviceComponents::TextInput.new(
        type: :text,
        name: :last_name,
        label: "Last name",
        width: :sixteen_chars
      ) %>

      <%= render CitizensAdviceComponents::Textarea.new(
        name: :your_enquiry,
        label: "Your complaint or enquiry",
        options: {
          hint: "Please provide details of your complaint or enquiry."
        }
      ) %>

      <%= render CitizensAdviceComponents::TextInput.new(
        type: :text,
        name: :total_amount,
        label: "What was the total amount paid for the goods or services?",
        width: :four_chars,
        options: {
          hint: "Enter a value in pounds and pence only e.g. £112.00"
        }
      ) %>

      <%= render CitizensAdviceComponents::DateInput.new(
        name: :date_of_purchase,
        label: "When did you purchase the goods or services?") do |c| %>
        <% c.with_date_fields([{ name: "purchase[day]", id: "day-id", timespan: :day}, { name: "purchase[month]", id: "month-id", timespan: :month }, { name: "purchase[year]", id: "year-id", timespan: :year, }]) %>
      <% end %>

      <%= render CitizensAdviceComponents::RadioGroup.new(
        legend: "Have you contacted the trader about this complaint?",
        name: :contacted_trader
      ) do |c| %>
        <% c.with_input(label: "Yes", value: "yes") %>
        <% c.with_input(label: "No", value: "no") %>
      <% end %>

      <%= render CitizensAdviceComponents::Textarea.new(
        name: :trader_response,
        label: "Outline the trader's response to the complaint, if any",
        options: {
          optional: true
        }
      ) %>

      <%= render CitizensAdviceComponents::Button.new(variant: :primary, type: :submit) do |c| %>
        Submit complaint
        <% c.with_icon_right do %>
          <%= render CitizensAdviceComponents::Icons::ArrowRight.new %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end  %>
<%= render AppFooterComponent.new %>
