- feedback_url ||= false
- links ||= {}
%footer#cads-footer.cads-footer
  - if feedback_url
    %p.cads-footer__feedback
      %a.cads-footer__hyperlink{ href: feedback_url, target: "_blank", rel: "noopener" }= t("cads.footer.website_feedback")
      %span.cads-footer__feedback-icon.cads-icon_external-link
  %nav.cads-grid-container{"aria-label": t("cads.footer.navigation_title") }
    .cads-grid-row
      - if links["column_one"]
        = render partial: "footer_links", locals: { links: links["column_one"]}
      - if links["column_two"]
        = render partial: "footer_links", locals: { links: links["column_two"]}
      - if links["column_three"]
        = render partial: "footer_links", locals: { links: links["column_three"]}
      - if links["column_four"]
        = render partial: "footer_links", locals: { links: links["column_four"]}

    .cads-footer__company-info
      .cads-footer__logo
        %a.cads-logo{ href: root_path, title: t("cads.shared.logo_title") }
      .cads-footer__meta
        %p.cads-footer__meta-text= t("cads.shared.copyright")
        %p.cads-footer__meta-text= t("cads.shared.legal_summary")
