- feedback_url = feedback_url || false
- links = links || {}
%footer.cads-footer
  - if feedback_url
    %p.cads-footer__feedback
      %a{ href: feedback_url, target: "_blank", rel: "noopener" }= t("cads.footer.website_feedback")
      %span.cads-footer__feedback-icon.cads-icon_external-link
  .cads-grid-container
    .cads-grid-row
      - if links["column_one"]
        .cads-grid-col-md-3
          %h2.cads-footer__section-title= links["column_one"]["title"]
          - if links["column_one"]["links"]
            %ul.cads-footer__links
              - links["column_one"]["links"].each do |link|
                %li.cads-footer__link
                  %a{ href: link["url"] }= link["label"]
      - if links["column_two"]
        .cads-grid-col-md-3
          %h2.cads-footer__section-title= links["column_two"]["title"]
          - if links["column_two"]["links"]
            %ul.cads-footer__links
              - links["column_two"]["links"].each do |link|
                %li.cads-footer__link
                  %a{ href: link["url"] }= link["label"]
      - if links["column_three"]
        .cads-grid-col-md-3
          %h2.cads-footer__section-title= links["column_three"]["title"]
          - if links["column_three"]["links"]
            %ul.cads-footer__links
              - links["column_three"]["links"].each do |link|
                %li.cads-footer__link
                  %a{ href: link["url"] }= link["label"]
      - if links["column_four"]
        .cads-grid-col-md-3
          %h2.cads-footer__section-title= links["column_four"]["title"]
          - if links["column_four"]["links"]
            %ul.cads-footer__links
              - links["column_four"]["links"].each do |link|
                %li.cads-footer__link
                  %a{ href: link["url"] }= link["label"]

    .cads-footer__company-info
      .cads-footer__logo
        %a.cads-logo{ href: root_path, title: t("cads.shared.logo_title") }
      .cads-footer__meta
        %p.cads-footer__meta-text= t("cads.shared.copyright")
        %p.cads-footer__meta-text= t("cads.shared.legal_summary")
