:ruby
  links ||= []
  sign_in_out ||= {}
  main_content_anchor_link ||= "#cads-main-content"
  homepage_url ||= "/"

%header.cads-header
  .cads-grid-container
    .cads-grid-row
      %nav.cads-skip-links
        %a.cads-skip-links__link{ href: "#cads-navigation" }
          = t("cads.header.skip_to_navigation")
        %a.cads-skip-links__link{ href: main_content_anchor_link }
          = t("cads.header.skip_to_content")
        %a.cads-skip-links__link{ href: "#cads-footer" }
          = t("cads.header.skip_to_footer")
      .cads-grid-col-md-2.cads-header__logo-row
        %a.cads-logo{ href: homepage_url, title: t("cads.shared.logo_title") }
        %button.cads-header__search-reveal.js-cads-search-reveal.cads-icon_search{ title: t("cads.header.search_mobile"), "aria-expanded": "false" }
      .cads-grid-col-md-10.cads-header__search-row
        %ul.cads-header__links.js-cads-copy-into-nav
          - links&.each do |link|
            %li.cads-header__links-item
              - if link.key?("url")
                %a.cads-header__hyperlink{ href: link["url"] }= link["title"]
              - else
                %span.cads-header__text
                  = link["title"]
          - if sign_in_out
            %li.cads-header__account-link
              %a.cads-header__hyperlink{href: sign_in_out["url"], "data-testid": "account-link"}= sign_in_out["title"]
        %form.cads-search.cads-search--icon-only{ action: search_action_url, role: "search" }
          %input.cads-search__input.cads-input{ type: "search", name: "q", "aria-label": t("cads.search.input_aria_label") }
          %button.cads-search__button{title: t("cads.search.submit_title")}
            %span.cads-search__button-label= t("cads.search.submit_label")
