:ruby
  links ||= []
  sign_in_out ||= {}
  sign_out_with_button = sign_in_out["form"].present?
  main_content_anchor_link ||= "#cads-main-content"
  homepage_url ||= "/"
  button_attr = {
    class: %w[cads-header__search-reveal js-cads-search-reveal cads-icon_search],
    title: t("cads.header.open_search"),
    "aria-expanded": "false",
    data: { testid: "expand-button", descriptive_label_show: t("cads.header.open_search"), descriptive_label_hide: t("cads.header.close_search") }
  }

%header.cads-header
  .cads-grid-container
    .cads-grid-row
      %nav.cads-skip-links
        %a.cads-skip-links__link{ href: "#cads-navigation" }
          = t("cads.header.skip_to_navigation")
        %a.cads-skip-links__link{ href: main_content_anchor_link }
          = t("cads.header.skip_to_content")
        %a.cads-skip-links__link{ href: "#cads-footer" }
          = t("cads.header.skip_to_footer")
      .cads-grid-col-md-2.cads-header__logo-row
        %a.cads-logo{ href: homepage_url, title: t("cads.shared.logo_title") }
        %button{ button_attr }
      .cads-grid-col-md-10.cads-header__search-row
        %ul.cads-header__links.js-cads-copy-into-nav
          - links&.each do |link|
            %li.cads-header__links-item
              - if link["current_site"]
                %span.cads-header__text
                  = link["title"]
              - else
                %a.cads-header__hyperlink{ href: link["url"] }= link["title"]
          %li{ class: (sign_out_with_button ? "cads-header__links-item--button" : "cads-header__account-link") }
            - if sign_out_with_button
              %form.cads-header__account-form{method: "POST", action: sign_in_out["url"], "data-testid": "account-link"}
                %button.cads-button__tertiary.cads-header__sign-out= sign_in_out["title"]
            - else
              %a.cads-header__hyperlink{href: sign_in_out["url"], "data-testid": "account-link"}= sign_in_out["title"]
        .cads-header__search-form
          %form.cads-search.cads-search--icon-only{ action: search_action_url, role: "search" }
            %input.cads-search__input.cads-input{ type: "search", name: "q", "aria-label": t("cads.search.input_aria_label") }
            %button.cads-search__button{title: t("cads.search.submit_title"), "data-testid": "search-button"}
              %span.cads-search__button-label= t("cads.search.submit_label")
