.cads-form-field{ class: ("cads-form-field--has-error" if input["has_error"]) }
  .cads-form-field__error-marker
  .cads-form-field__content
    %label.cads-form-field__label{id: "#{input['name']}-label", for: "#{input['name']}-input" }
      = input["label"]
      - if input["optional"]
        %span.cads-form-field__optional= t("cads.form.optional")
    - if input["hint"]
      %p.cads-form-field__hint= input["hint"]
    - if input["error_message"]
      %p.cads-form-field__error-message= input["error_message"]
    %input.cads-input{ type: "text", id: "#{input['name']}-input", name: input["name"], value: input["value"], class: ("cads-input--#{input['size']}" if input["size"]) }
