.cads-form{ class: [input['has_error'] && 'cads-form-error', input['optional'] && 'cads-form-optional'] }
  .cads-form-error-marker
  .cads-form-content.cads-input-group
    %label.cads-form-label{id: "#{input['name']}-label", for: "#{input['name']}-input" }
      = input['label']
    - if input['hint']
      %p.cads-form__hint= input['hint']
    - if input['error_message']
      %p.cads-form__error-message= input['error_message']
    %input.cads-input{type: "text", id: "#{input['name']}-input"}
