.cads-input-group
  %label.cads-form-label{id: "#{input_name}-label", for: "#{input_name}-input" }
    %span.cads-heading-small= input_label
    %span.paragraph-s.cads-form__hint= input_hint
  %input.cads-input{type: "text", id: "#{input_name}-input"}
