.cads-input-group
  .cads-form-error-marker
  %label.cads-form-label.cads-heading-small{id: "#{input_name}-label", for: "#{input_name}-input" }
    = input_label
  %p.paragraph-s.cads-form__hint= input_hint
  %input.cads-input{type: "text", id: "#{input_name}-input"}
