.cads-form
  .cads-form-content.cads-input-group
    %label.cads-form-label.cads-heading-small{id: "#{input_name}-label", for: "#{input_name}-input" }
      = input_label
    %p.cads-form__hint= input_hint
    %input.cads-input{type: "text", id: "#{input_name}-input"}

.cads-form.cads-form-error.cads-form-optional
  .cads-form-error-marker
  .cads-form-content.cads-input-group
    %label.cads-form-label.cads-heading-small{id: "#{input_name}-label", for: "#{input_name}-input" }
      = input_label
    %p.cads-form__hint= input_hint
    %input.cads-input{type: "text", id: "#{input_name}-input"}