.cads-form{ class: [radio['has_error'] && 'cads-form-error', radio['optional'] && 'cads-form-optional'] }
  .cads-form-error-marker
  %fieldset.cads-form-content.cads-radio-group
    %legend.cads-form-label
      = radio['label']
      - if radio['optional']
        %span.cads-form__optional= " (#{t('cads.form.optional')})"
    - if radio['hint']
      %p.cads-form__hint= radio['hint']
    - if radio['error_message']
      %p.cads-form__error-message= radio['error_message']
    - radio['options'].each do |radioItem|
      %label.cads-radio-button{for: "#{radio['name']}-#{radioItem['value']}"}
        = radioItem['label']
        %input{type: "radio", id: "#{radio['name']}-#{radioItem['value']}", name: radio['name'], value: radioItem['value']}
        %span.cads-radio-button-checkmark
