.cads-form.cads-form-error.cads-form-optional{ class: [radio_has_error && 'cads-form-error'] }
  .cads-form-error-marker
  %fieldset.cads-form-content.cads-radio-group.cads-radio-group__small
    %legend.cads-form-label.cads-heading-small
      = radio_group_label
    %p.cads-form__hint
      = radio_group_hint
    - radio_group_options.each do |radioItem|
      %label.cads-radio-button{for: "#{radio_group_name}-#{radioItem}"}
        = radioItem
        %input{type: "radio", id: "#{radio_group_name}-#{radioItem}", name: radio_group_name}
        %span.cads-radio-button-checkmark
