.cads-form-field{ class: [('cads-form-field--has-error' if radio['has_error']), ('cads-form-field--optional' if radio['optional'])] }
  .cads-form-field__error-marker
  %fieldset.cads-form-field__content.cads-radio-group{:class => ("cads-radio-group--compact" if radio['is_compact'])}
    %legend.cads-form-field__label.cads-heading-small= radio['label']
    - if radio['hint']
      %p.cads-form-field__hint= radio['hint']
    - if radio['error_message']
      %p.cads-form-field__error-message= radio['error_message']
    - radio['options'].each do |radioItem|
      %label.cads-radio-group__item{for: "#{radio['name']}-#{radioItem['value']}"}
        %span.cads-radio-group__item-label= radioItem['label']
        %input.cads-radio-group__item-input{type: "radio", id: "#{radio['name']}-#{radioItem['value']}", name: radio['name'], value: radioItem['value']}
        %span.cads-radio-group__item-checkmark
