%details.cads-targeted-content{:id => targetContent['id']}
  %summary.cads-targeted-content__summary{:role => "button", :"aria-controls" => "#{targetContent['id']}-content", :"aria-expanded" => "false"}
    %span.cads-target-content__button.cads-icon_minus
    %span.cads-target-content__button.cads-icon_plus
    %span.cads-targeted-content__title
      = targetContent['title']
  .cads-targeted-content__content{:id => "#{targetContent['id']}-content"}
    = targetContent['body']
    %hr.cads-separator
    %button.cads-linkbutton.cads-targeted-content__close-button{:"aria-label" => t('cads.targeted_content', title: targetContent['title'])}= t('cads.shared.ui.close')
