= tag.button(class: "cads-button cads-button__#{variant}", type: type, **additional_attributes) do
  = tag.span(icon_left, class: "cads-button__icon-left") if icon_left.present?
  = content
  = tag.span(icon_right, class: "cads-button__icon-right") if icon_right.present?
