.cads-form-field{ class: ("cads-form-field--has-error" if error?) }
  .cads-form-field__error-marker
  %fieldset.cads-form-field__content.cads-checkbox-group.cads-form-group
    %legend.cads-form-field__label
      = legend
      - if optional?
        %span.cads-form-field__optional= t("citizens_advice_components.input.optional")
    - if hint?
      %p.cads-form-field__hint= hint
    - if error?
      %p.cads-form-field__error-message= error_message
    - checkboxes.each do |checkbox|
      .cads-form-group__item
        %input.cads-form-group__input{ checkbox.attributes(name) }
        %label.cads-form-group__label{ for: checkbox.attributes(name)[:id] }
          = checkbox.label
