<footer id="cads-footer" class="cads-footer">
  <div class="cads-grid-container">
    <% if feedback_link&.url.present? %>
      <div class="cads-grid-row">
        <div class="cads-grid-col">
          <p class="cads-footer__feedback">
            <% if feedback_link.new_tab? %>
              <%= link_to(
                feedback_link.title || t("citizens_advice_components.footer.website_feedback"),
                feedback_link.url,
                class: "cads-footer__hyperlink js-cads-footer-feedback",
                target: "_blank",
                rel: "noopener",
                aria: { label: "#{feedback_link.title || t('citizens_advice_components.footer.website_feedback')} (opens in a new tab)" }
              ) %>
            <% else %>
              <%= link_to(
                feedback_link.title || t("citizens_advice_components.footer.website_feedback"),
                feedback_link.url,
                class: "cads-footer__hyperlink js-cads-footer-feedback"
              ) %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <% if columns_to_show.any? %>
      <nav class="cads-footer__navigation" aria-label="<%= t("citizens_advice_components.footer.navigation_title") %>">
        <div class="cads-grid-row">
          <% columns_to_show.each do |column| %>
            <div class="cads-grid-col-md-3" data-testid="footer-column">
              <h2 class="cads-footer__section-title"><%= column.title %></h2>
              <% column.text_lines.each do |line| %>
                <p class="cads-footer__text"><%= line %></p>
              <% end %>
              <% unless column.links.empty? %>
                <ul class="cads-footer__links">
                  <% column.links.each do |link| %>
                    <li class="cads-footer__link">
                      <%= link_to link[:title], link[:url], class: "cads-footer__hyperlink" %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        </div>
      </nav>
    <% end %>
    <div class="cads-footer__company-info">
      <div class="cads-footer__logo">
        <a class="cads-logo" href="<%= homepage_url %>" title="<%= t("citizens_advice_components.footer.logo_title") %>"></a>
      </div>
      <div class="cads-footer__meta">
        <p class="cads-footer__meta-text" data-testid="copyright"><%= t("citizens_advice_components.footer.copyright", year: current_year) %></p>
        <p class="cads-footer__meta-text" data-testid="legal-summary"><%= legal_summary_text %></p>
      </div>
    </div>
  </div>
</footer>
