.cads-form-field{ class: ("cads-form-field--has-error" if error?) }
  .cads-form-field__error-marker
  %fieldset{ class: fieldset_classes }
    %legend.cads-form-field__label{ class: ("cads-form-field__label--with-heading" if legend_heading?)}
      - if legend_heading?
        %h1.cads-form-field__heading
          = legend
      - else
        = legend
      - if optional?
        %span.cads-form-field__optional= t("citizens_advice_components.input.optional")
    - if hint?
      %p.cads-form-field__hint= hint
    - if error?
      %p.cads-form-field__error-message= error_message
    - inputs.each_with_index do |input, index|
      .cads-form-group__item
        %input.cads-form-group__input{ input.attributes(name, index) }
        %label.cads-form-group__label{ for: input.attributes(name, index)[:id] }
          = input.label
