%header.cads-header
  .cads-grid-container
    .cads-grid-row
      - if skip_links_to_show.present?
        %nav.cads-skip-links
          - skip_links_to_show.map do |skip_link|
            = link_to skip_link.title, skip_link.url, class: "cads-skip-links__link"

      .cads-grid-col-md-2.cads-header__logo-row
        = logo
        - if search_form.present?
          = tag.button(class: "cads-header__search-reveal js-cads-search-reveal cads-icon_search",
            type: "button",
            "aria-label": t(".open_search"),
            "aria-expanded": "false",
            "data-testid": "expand-button",
            "data-descriptive-label-show": t(".open_search"),
            "data-descriptive-label-hide": t(".close_search"))

      .cads-grid-col-md-10.cads-header__search-row
        %ul.cads-header__links.js-cads-copy-into-nav
          - header_links.each do |header_link|
            %li.cads-header__links-item= header_link

          - if account_link.present?
            %li.cads-header__links-item= account_link

        - if search_form.present?
          .cads-header__search-form
            = form_tag(search_form.search_action_url,
              method: :get,
              role: "search",
              class: "cads-search cads-search--icon-only") do
              = search_field_tag(search_form.search_param.to_sym, nil,
                id: "search-query",
                "aria-label": t("citizens_advice_components.search.input_aria_label"),
                class: "cads-search__input cads-input")
              = tag.button(name: nil,
                type: "submit",
                title: t("citizens_advice_components.search.submit_title"),
                "data-testid": "search-button",
                class: "cads-search__button") do
                %span.cads-search__button-label= t("citizens_advice_components.search.submit_label")
