= render CitizensAdviceComponents::FormField.new(error: error?) do
  %label.cads-form-field__label{id: label_id, for: input_id }
    = label
    - if optional?
      %span.cads-form-field__optional= "(#{t('.optional')})"
  - if hint?
    %p.cads-form-field__hint= hint
  - if error?
    %p.cads-form-field__error-message{ id: error_id, data: { testid: "error-message" } }
      = error_message
  - if content.present?
    = content
  - else
    %input.cads-input{ input_attributes }
