<%= tag.div(class: component_class_names, "data-testid": "on-this-page") do %>
  <h2 class="cads-on-this-page__title"><%= t(".title") %></h2>
  <ul class="cads-on-this-page__list">
    <% links.each do |link| %>
      <li class="cads-on-this-page__list-item">
        <% if show_children_for?(link) %>
          <button type="button"
            class="cads-on-this-page__show cads-icon_plus cads-linkbutton js-cads-on-this-page__toggle"
            aria-expanded="false"
            data-testid="on-this-page-toggle"
            data-toggle-target-id="<%= "#{link.id}-list" %>"
            data-label-when-hiding="<%= "Show sub-headings for #{link.label}" %>"
            data-label-when-showing="<%= "Hide sub-headings for #{link.label}" %>"></button>
        <% end %>
        <a href="<%= "##{link.id}" %>"
          class="cads-on-this-page__link cads-hyperlink"
          data-testid="on-this-page-link">
          <%= link.label %>
        </a>
        <% if show_children_for?(link) %>
          <ul class="cads-on-this-page__list cads-on-this-page__list--nested"
            id="<%= "#{link.id}-list" %>"
            data-testid="on-this-page-children">
            <% link.children.each do |child| %>
              <li class="cads-on-this-page__list-item">
                <a href="<%= "##{child[:id]}" %>"
                  class="cads-on-this-page__link cads-hyperlink"
                  data-testid="on-this-page-child-link">
                  <%= child[:label] %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
