.cads-form-field{ class: ("cads-form-field--has-error" if error?) }
  .cads-form-field__error-marker
  %fieldset.cads-form-field__content.cads-form-group.cads-radio-group{ fieldset_attributes }
    %legend.cads-form-field__label
      = legend
      - if optional?
        %span.cads-form-field__optional= t("citizens_advice_components.input.optional")
    - if hint?
      %p.cads-form-field__hint= hint
    - if error?
      %p.cads-form-field__error-message= error_message
    - radio_buttons.each do |radio|
      .cads-form-group__item
        %input.cads-form-group__input{ radio.attributes(name) }
        %label.cads-form-group__label{ for: radio.attributes(name)[:id] }
          = radio.label
