<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link href="<%= asset_path("open-sans-v26-latin-700.woff2") %>" rel="preload" as="font" type="font/woff2" crossorigin="true" />
    <link href="<%= asset_path("open-sans-v26-latin-regular.woff2") %>" rel="preload" as="font" type="font/woff2" crossorigin="true" />
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield :custom_head %>
    <script>document.querySelector('html').classList.remove('no-js');</script>
  </head>
  <body<%- if @body_class.present? %> class="<%= @body_class %>"<%- end -%>>
    <div class="cads-page">
      <div class="cads-page-header">
        <%= render AppHeaderComponent.new(signed_in: @signed_in.present?) %>
      </div>
      <div class="cads-page-wrapper">
        <%= render CitizensAdviceComponents::Breadcrumbs.new(links: breadcrumbs) %>
        <div id="cads-main-content"><%= yield %></div>
      </div>
      <div class="cads-page-footer"><%= render AppFooterComponent.new %></div>
    </div>
    <%= javascript_include_tag "application", defer: true %>
  </body>
</html>
