<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link href="<%= Webpacker.manifest.lookup("media/fonts/open-sans-v26-latin-700.woff2") %>" rel="preload" as="font" type="font/woff2" crossorigin="true" />
    <link href="<%= Webpacker.manifest.lookup("media/fonts/open-sans-v26-latin-regular.woff2") %>" rel="preload" as="font" type="font/woff2" crossorigin="true" />
    <link href="<%= Webpacker.manifest.lookup("media/fonts/cads.woff") %>" rel="preload" as="font" type="font/woff" crossorigin="true" />
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= yield :custom_head %>
    <script>document.querySelector('html').classList.remove('no-js');</script>
  </head>
  <body<%- if @body_class.present? %> class="<%= @body_class %>"<%- end -%>>
    <div id="content"><%= yield %></div>
    <%= javascript_packs_with_chunks_tag "application" %>
  </body>
</html>
