<%= render FormAppHeaderComponent.new %>
<%= render CitizensAdviceComponents::Breadcrumbs.new(
  links: [{ url: root_path, title: "Home" }, { title: "Form" }]
) %>
<%= render PageLayoutComponent.new do |c| %>
  <% c.main do %>
    <h1 class="cads-page-title">Consumer Query</h1>
    <div class="cads-prose">
      <p>From 1 April 2019 we are only able to provide general consumer advice to residents of England and Wales. If you are resident in Scotland and have a general consumer enquiry please contact Advice Direct Scotland / 0808 164 6000</p>

      <form action="">
        <%= render CitizensAdviceComponents::TextInput.new(
          type: :text,
          name: "first-name",
          label: "First name or initials",
          width: :sixteen_chars
        ) %>

        <%= render CitizensAdviceComponents::TextInput.new(
          type: :text,
          name: "last-name",
          label: "Last name",
          width: :sixteen_chars
        ) %>

        <%= render CitizensAdviceComponents::Textarea.new(
          name: "your-enquiry",
          label: "Your complaint or enquiry",
          options: {
            hint: "Please provide details of your complaint or enquiry."
          }
        ) %>

        <h2>Purchase details</h2>

        <%= render CitizensAdviceComponents::RadioGroup.new(
          legend: "Have you paid for goods or services from this trader?",
          name: "paid-for-goods"
        ) do |c| %>
          <% c.input(label: "Yes - If yes, answer the below questions", value: "yes") %>
          <% c.input(label: "No", value: "no") %>
        <% end %>

        <%= render CitizensAdviceComponents::TextInput.new(
          type: :text,
          name: "total-amount",
          label: "What was the total amount paid for the goods or services?",
          width: :four_chars,
          options: {
            hint: "Enter a value in pounds and pence only e.g. £112.00"
          }
        ) %>

        <%= render CitizensAdviceComponents::RadioGroup.new(
          legend: "Have you contacted the trader about this complaint?",
          name: "contacted-trader"
        ) do |c| %>
          <% c.input(label: "Yes - If yes, answer the below questions", value: "yes") %>
          <% c.input(label: "No", value: "no") %>
        <% end %>

        <%= render CitizensAdviceComponents::Textarea.new(
          name: "trader-response",
          label: "Outline the trader's response to the complaint, if any"
        ) %>

        <input class="cads-button cads-button__primary" type="submit" value="Submit complaint" />
      </form>
    </div>
  <% end %>
<% end  %>
<%= render AppFooterComponent.new %>
