.cads-adviser
  = render partial: "@citizensadvice/design-system/haml/header", local: { alt_language: alt_language, 'sign_in': { 'url' => '/sign-out/url', 'text' => 'Sign out' } }
  = render partial: "@citizensadvice/design-system/haml/navigation"
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-12
        = render partial: "@citizensadvice/design-system/haml/breadcrumb", locals: {breadcrumbs: {"breadcrumb_links" => [{"url" => "/link", "title" => "Tables"}]}}
  %main.cads-page-content
    .cads-grid-container
      .cads-grid-row
        .cads-grid-col-md-8
          = render partial: "@citizensadvice/design-system/haml/notice_banner", locals: { 'banner' => { 'label' => 'Page Template Warning', 'body' => '<p>This is a sample page. Note that the layout may not reflect the actual page layout of the website.</p>' } }
      .cads-grid-row
        .cads-grid-col-md-8
          %h1.cads-page-title Adviser Sample Page
          = render partial: "@citizensadvice/design-system/haml/oisc_warning", locals: { 'oisc_warning' => { 'title' => "This is an OISC level 2 topic", 'body' => "Generalist advisers can give clients the information on this page, but must refer them to an immigration specialist if they need advice. <a href='#'>Check what to do if your client needs level 2 advice.</a>", 'is_sticky' => true } }
          .cads-prose
            = render partial: "@citizensadvice/design-system/haml/callout", locals: { 'notice' => { 'type' => 'adviser', 'body' => '<h3>This is an adviser callout</h3><p>This is the body text of an adviser callout.</p>' } }
            %p
              Every page should have some lorem ipsum. So here it is.
            %ul
              %li etiam laoreet erat sit amet porttitor luctus.
              %li lorem ullamcorper aliquet
              %li
                %p Lorem ipsum in a p tag
              %li iquam vitae interdum metus
            %ol
              %li etiam laoreet erat sit amet porttitor luctus.
              %li lorem ullamcorper aliquet
              %li
                %p Lorem ipsum in a p tag
              %li iquam vitae interdum metus
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a urna nisl. Aenean euismod purus a magna vulputate, eget volutpat neque volutpat. Donec dapibus scelerisque diam eu scelerisque. Vestibulum laoreet magna sagittis felis pellentesque semper. Nullam porta, arcu rhoncus euismod porttitor, risus augue bibendum ipsum, eget tincidunt mi lectus eget eros. Donec nisl ipsum, facilisis vitae tortor maximus, venenatis mattis purus. Quisque fringilla gravida arcu, ut bibendum nibh malesuada at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur aliquam lorem et lorem ullamcorper aliquet. Aliquam vitae interdum metus. Nulla ut laoreet ante. Quisque commodo nisl a fringilla elementum. Ut accumsan nunc id ex ullamcorper, sed tempor augue condimentum. Morbi volutpat et ante ut rutrum.
            %p Some targeted content
            = render partial: "@citizensadvice/design-system/haml/targeted-content"
            = render partial: "@citizensadvice/design-system/haml/targeted-content"
            %p And some more
            = render partial: "@citizensadvice/design-system/haml/targeted-content"
            %p Etiam laoreet erat sit amet porttitor luctus. Sed vitae enim aliquet, aliquam velit sit amet, placerat diam. Aenean malesuada euismod arcu, vel imperdiet dolor facilisis vitae. Fusce ac lacinia metus, ut interdum nibh. Nunc a lorem dolor. In sodales urna eget libero commodo luctus. Suspendisse commodo est sit amet diam tempus, sit amet vehicula ex sodales. Duis feugiat scelerisque imperdiet. Sed vel lorem id risus porta porta id in libero. In sagittis at magna a semper. Donec aliquet porta vehicula. Integer sit amet quam aliquet, bibendum libero non, aliquet nisi. Mauris ante erat, dictum a urna ut, elementum varius ex. Praesent blandit quis ante id fermentum.
          = render partial: "@citizensadvice/design-system/haml/page_review"
        .cads-grid-col-md-4
          %aside.cads-related-content
            %p.paragraph-s.section-title Related Content
            %h3
              %a{:href=> 'https://www.citizensadvice.org.uk'} Search and navigation tools
            %ul
              %li
                %a{:href=> 'https://www.citizensadvice.org.uk'} Search
              %li
                %a{:href=> 'https://www.citizensadvice.org.uk'} A to Z of advice
              %li
                %a{:href=> 'https://www.citizensadvice.org.uk'} Finding information
              %li
                %a{:href=> 'https://www.citizensadvice.org.uk'} Search for your local Citizens Advice
              %li
                %a{:href=> 'https://www.citizensadvice.org.uk'} Browse our campaign pages
              %li
                %a{:href=> 'https://www.citizensadvice.org.uk'} Browse our research pages
  = render partial: "@citizensadvice/design-system/haml/footer"
