---
title: Variable heading levels
---
<% lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a urna nisl. Aenean euismod purus a magna vulputate, eget volutpat neque volutpat. Donec dapibus scelerisque diam eu scelerisque." %>

<%= render(CitizensAdviceComponents::Callout.new(type: :standard)) do %>
  <h3>This a nested callout title</h3>
  <p><%= lorem %></p>
  <%= render(CitizensAdviceComponents::Callout.new(type: :adviser)) do %>
    <h4>This a callout title</h4>
    <p>Its heading has been automatically demoted to an h4 to comply with WCAG.</p>
    <h4>Another h4</h4>
    <p><%= lorem %></p>
    <%= render(CitizensAdviceComponents::ContactDetails.new) do %>
      <p><b>Example organisation</b></p>
      <p>Telephone: 0300 555 5555</p>
      <p>Monday to Friday, 8am to 5pm</p>
      <p>Saturday, 8am to 4pm</p>
      <p><a href="http://example.com">Link to the website</a></p>
    <% end %>
  <% end %>
<% end %>
