<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= cads_meta_preload_fonts %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "standalone", media: "all" %>
    <script>document.querySelector('html').classList.remove('no-js');</script>
  </head>
  <body class="component-example-<%= params[:category] %> component-example-<%= params[:category] %>-<%= params[:slug] %>">
    <%= yield %>
    <%= javascript_include_tag "standalone", type: "module" %>
  </body>
</html>
