= render CitizensAdviceComponents::Button.new do |c|
  Example button
  - c.icon_right do
    = render CitizensAdviceComponents::Icons::ArrowRight.new

= render CitizensAdviceComponents::Button.new(variant: :secondary) do |c|
  Example button
  - c.icon_right do
    = render CitizensAdviceComponents::Icons::ArrowRight.new

= render CitizensAdviceComponents::Button.new do |c|
  Example button
  - c.icon_left do
    = render CitizensAdviceComponents::Icons::ArrowLeft.new

= render CitizensAdviceComponents::Button.new(variant: :secondary) do |c|
  Example button
  - c.icon_left do
    = render CitizensAdviceComponents::Icons::ArrowLeft.new
