<div class="component-example">
  <div class="component-example__links">
    <a href="<%= example.relative_url %>" rel="noreferrer" target="_blank"
      aria-label="Open <%= example_label %> example in a new tab">
      Open example in a new tab
    </a>
  </div>
  <div class="component-example__preview">
    <% if iframe? %>
      <iframe class="component-example__iframe js-component-example-iframe" title="<%= example.data.title.downcase %> example" src="<%= example.relative_url %>" frameborder="0" loading="lazy"></iframe>
    <% else %>
      <%= example.content %>
    <% end %>
  </div>
  <div class="component-example__source">
    <% if show_html? %>
      <%= render(CitizensAdviceComponents::Disclosure.new(closed_summary: "HTML code for #{example.data.title.downcase} example")) do %>
        <pre class="highlight"><code><%= raw highlighted_html %></code></pre>
      <% end %>
    <% end %>
    <% if show_source? %>
      <%= render(CitizensAdviceComponents::Disclosure.new(closed_summary: "ERB code for #{example.data.title.downcase} example")) do %>
        <pre class="highlight"><code><%= raw highlighted_source %></code></pre>
      <% end %>
    <% end %>
  </div>
</div>
