= render partial: "@citizensadvice/design-system/haml/header", local: { alt_language: alt_language }
= render partial: "@citizensadvice/design-system/haml/navigation"
.cads-grid-container
  .cads-grid-row
    .cads-grid-col-12
      = render partial: "@citizensadvice/design-system/haml/breadcrumb", locals: {breadcrumbs: {"breadcrumb_links" => [{"url" => "/link", "title" => "Tables"}]}}
%main.cads-main-content
  .cads-grid-container
    .cads-grid-row
      .cads-grid-col-md-8
        = render partial: "@citizensadvice/design-system/haml/notice_banner"
    .cads-grid-row
      .cads-grid-col-md-8
        %h1 Advice Collection
        %p Here is a standard callout.
        
        = render partial: "@citizensadvice/design-system/haml/input", locals: { input: { "name" => "example-input", "label" => "Example input", "hint" => "This is the hint for the input" }}


        = render partial: "@citizensadvice/design-system/haml/page_review"
      .cads-grid-col-md-4
        %aside.cads-related-content
          %p.paragraph-s.section-title Related Content
          %h3
            %a{:href=> 'https://www.citizensadvice.org.uk'} Search and navigation tools
          %ul
            %li
              %a{:href=> 'https://www.citizensadvice.org.uk'} Search
            %li
              %a{:href=> 'https://www.citizensadvice.org.uk'} A to Z of advice
            %li
              %a{:href=> 'https://www.citizensadvice.org.uk'} Finding information
            %li
              %a{:href=> 'https://www.citizensadvice.org.uk'} Search for your local Citizens Advice
            %li
              %a{:href=> 'https://www.citizensadvice.org.uk'} Browse our campaign pages
            %li
              %a{:href=> 'https://www.citizensadvice.org.uk'} Browse our research pages
= render partial: "@citizensadvice/design-system/haml/footer"
